body{
  background-color: #FFFFFF !important;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: Jazz LET, fantasy;
}

.h3 {
  font-family: Jazz LET, fantasy;
}

#menu{
position: fixed;
left: 0;
top: 0;
width: 100%;

}

@media(max-width:540px){
.divmedia{ 
  margin: auto;
  width: 50%;
  padding: 10px;
}
 .divmedia2 {
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
 }
 .desaparecePcell{
  display: none;
 }
}
@media(min-width:540px){

 .aparecePcell{
  display: none;
 }
 .videoGrande{
  height: 500px;
  width: 1000px;
  padding: 10px;
 }
}
.navbar-bg{
  background-color: #FFFFFF !important;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  position: fixed;
}

#menu{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  
 }

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(1456deg, rgba(89,28,230,1) 0%, rgba(251,139,97,1) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Jazz LET, fantasy;
}

.accent-color{
  background-color: #6237C8;
}

.gradient{
  background: rgb(89,28,230);
  background: linear-gradient(304deg, rgba(89,28,230,1) 5%, rgba(249,89,141,1) 45%, rgba(251,139,97,1) 100%);
}

.cardhover:hover{
  transition:0.7s;
  color: #fcfcfc;
  background-color: black;
  text-decoration: none;
  font-size: 20px;
  transform: scale(1.1);
}