/* 
  purple: #6237C8
  blue: #591CE6
  pink: #F9598D
  orange: #FB8B61
  green: #23F0C7
  white: #FFFFFF
*/

body {
  background-color: white !important;
  padding: 0;
}

.nav-link{
  color: #DAA32A !important;
}
.nav-link.active{
  background-color: #DAA32A !important;
  color: #0F0E0B !important;
}
header{
  background-color: white !important;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  position: fixed;
}

a {
  text-decoration: none;
  color: black;
}

.p1 {
    font-family: Andale Mono, monospace;
    font-size: 130%;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(1456deg, #DAA32A 0%, #0F0E0B 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Jazz LET, fantasy;
}

.h3 {
    font-family: Jazz LET, fantasy;
}
.cardhover:hover{
  transition:0.7s;
  color: #FFFFFF;
  background-color: #0F0E0B;
  text-decoration: none;
  font-size: 20px;
  transform: scale(1.1);
  border-color: #84898C;
}
.card{
  background-color: #0F0E0B;
  color:#FFFFFF;
  
}
/* linha do tempo */
.apresentacaoLinhaDoTempo {
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 1000px;
}
  
.apresentacaoLinhaDoTempo::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: lightgray;
}

.apresentacaoLinhaDoTempo ul {
  margin: 0;
  padding: 0;
}

.apresentacaoLinhaDoTempo ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.apresentacaoLinhaDoTempo ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.apresentacaoLinhaDoTempo ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.conteudo {
  padding-bottom: 20px;
}

.apresentacaoLinhaDoTempo ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: var(--cor-terciaria);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 1);
}

.apresentacaoLinhaDoTempo ul li:nth-child(even):before {
  content: "";
  position: absolute;
  top: 24px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: var(--cor-terciaria);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 1);
}

.apresentacaoLinhaDoTempo ul li h3 {
  margin: 0;
  padding: 0;
  font-size: 600;
  color: var(--cor-terciaria);
}

.apresentacaoLinhaDoTempo ul li p {
  margin: 10px 0 0;
  padding: 0;
}

.apresentacaoLinhaDoTempo ul li .tempo {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.apresentacaoLinhaDoTempo ul li:nth-child(odd) .tempo {
  position: absolute;
  top: 12px;
  right: -110px;
  margin: 0;
  padding: 8px 16px;
  background: var(--cor-terciaria);
  border-radius: 18px;
}

.apresentacaoLinhaDoTempo ul li:nth-child(even) .tempo {
  position: absolute;
  top: 12px;
  left: -110px;
  margin: 0;
  padding: 8px 16px;
  background: var(--cor-terciaria);
  border-radius: 18px;
}
.h1historia{
  color:black;
}
/* Linha do tempo  */
#menu{
position: fixed;
left: 0;
top: 0;
width: 100%;

}
@media(max-width:600px){
.apresentacaoLinhaDoTempo{
  display: none;
  
}
.conteudo{
  display: none;
}
.h1historia{
  display: none;
}
}
.divmedia{}
.divmedia2{}
.h1ferramentas{}
.desaparecePcell{}
.aparecePcell{}

@media(max-width:540px){
.divmedia{ 
  margin: auto;
  width: 50%;
  padding: 10px;
}
  .divmedia2 {
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  }
  .desaparecePcell{
  display: none;
  }
}
@media(min-width:540px){

  .aparecePcell{
  display: none;
  }
}